@model GetProductDetailByIdDto
@*
    Ui Product Detail Additional Information Component
*@

<div class="tab-pane fade" id="tab-pane-2">
    <h4 class="mb-3">Ek Bilgiler</h4>
    <p>@Model.ProductInfo</p>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    @Model.FeatureOne
                </li>
                <li class="list-group-item px-0">
                    @Model.FeatureTwo
                </li>
                <li class="list-group-item px-0">
                    @Model.FeatureThree
                </li>
                <li class="list-group-item px-0">
                    @Model.FeatureFour
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                    @Model.FeatureFive
                </li>
                <li class="list-group-item px-0">
                    @Model.FeatureSix
                </li>
                <li class="list-group-item px-0">
                    @Model.FeatureSeven
                </li>
                <li class="list-group-item px-0">
                    @Model.FeatureEight
                </li>
            </ul>
        </div>
    </div>
</div>