@model List<ResultUserCommentDto>
@*
    Ui User Comment Component
*@

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">

        <div class="col-md-6">
            @if(ViewBag.Product != null)
            {
                <h4 class="mb-4">@ViewBag.Product için @Model.Count değerlendirme</h4>
            }
            else
            {
                <h4 class="mb-4">@ViewBag.Product</h4>
            }
            @foreach (var item in Model)
            {
                <div class="media mb-4">
                    <img src="@item.ImageUrl" alt="Görsel" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.NameSurname<small> - <i>@item.CreatedDate</i></small></h6>
                        <div class="text-primary mb-2">
                            @foreach (var i in Enumerable.Range(0, item.Rating))
                            {
                                <i class="fas fa-star"></i>
                            }
                        </div>
                        <p>
                            @item.CommentDetail
                        </p>
                    </div>
                </div>
            }
        </div>

        @await Component.InvokeAsync("_UiCreateUserCommentComponent")
    
    </div>
</div>